[submodule "EXTERNAL/imgui"]
	path = EXTERNAL/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "EXTERNAL/murmurhash"]
	path = EXTERNAL/murmurhash
	url = https://github.com/aappleby/smhasher.git
[submodule "EXTERNAL/PolyHook_2_0"]
	path = EXTERNAL/PolyHook_2_0
	url = https://github.com/stevemk14ebr/PolyHook_2_0.git
[submodule "EXTERNAL/xxHash"]
	path = EXTERNAL/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "EXTERNAL/SDL2"]
	path = EXTERNAL/SDL2
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
[submodule "EXTERNAL/json"]
	path = EXTERNAL/json
	url = https://github.com/nlohmann/json.git
[submodule "EXTERNAL/CLI11"]
	path = EXTERNAL/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "EXTERNAL/scnlib"]
	path = EXTERNAL/scnlib
	url = https://github.com/eliaskosunen/scnlib.git
